* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

}

:root {

    --blanco: rgb(255, 198, 198)
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(224, 185, 250);
}

main {
    display: flex;
    width: 100%;

    justify-content: center;
    align-items: center;
}
form{
    
    display: flex;
    flex-direction: column;

}
.enlog {
    background-color: #9868c8;
    color: rgb(224, 185, 250);
    justify-content: center;
    display: flex;
    padding: 2rem;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
    color: white;
}
.cont::placeholder{
    color: rgb(49, 3, 79);
}

.cajalog {
    display: flex;
    margin: 25vh auto auto auto;
    background-color: rgb(224, 185, 250);
    flex-direction: column;
    width:30rem;
    border-radius: 1rem;
    box-shadow: #F7871D 1rem;


}

.cont {
    margin-left: 4rem;
    margin-right: 4rem;
    margin-top: 2rem;
    background-color: rgb(224, 185, 250);
}

.cajastext {
    border-top: none;
    border-left: none;
    border-right: none;
    border-color: #9868c8;
    height: 3rem;
    font-size: 1rem;
    padding: 0;
    display: flex;
    justify-content: end;
    color: white;
}

.btn2 {
    border-top: none;
    border-left: none;
    border-right: none;
    border-color: #9868c8;
    background-color: rgb(224, 185, 250);
    
    align-self: center;
    margin-top: 0.5rem;
    margin-bottom: 2rem;
    
   
}
.btn3 {
    border-top: none;
    border-left: none;
    border-right: none;
    border-color: #9868c8;
    background-color: rgb(224, 185, 250);
    margin-top: 0.5rem;
    align-self: center;
    margin-top: 1rem;
}

.btn {
    background-color: #9868c8;
    color: rgb(255, 255, 255);
    border-style: none;
    width: 10rem;
    height: 3rem;
    border-radius: 0.3rem;
    align-self: center;

  
}



.btn:hover{
    cursor: pointer;
}
.btn2:hover{
    cursor: pointer;
}
.btn3:hover{
    cursor: pointer;
}